.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .1s ease;
  
}
.component-fade-enter, .component-fade-leave-to {
  opacity: 0;
}

.list-enter-active, .list-leave-active {
  transition: all .5s;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
