.v-head {
  padding: 70px 0 60px 0;
  transition: .2s ease;

  
  &__title {
    div {
      color: #000;
      font-size: 36px;
      font-weight: bold;
      transition: 1s ease;
    }

    &_small {
      div {
        font-size: 18px;
        transition: 1s ease;
        color: #fff;
      }
    }

  }

  &_small {
    position: sticky;
    top: 0px;
    padding: 20px 0 20px 0;
    background: #fff;
    transition: 1s ease;
  }

}