.modal {

  max-width: 700px;
  min-height: 200px;
  max-height: 600px;
  border-radius: 8px;
  margin: 20px;
  padding: 40px;
  background-color: #fff;
  overflow: auto;
  animation: 1s ease showModal;

  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000cc;
    animation: 1s ease showModalWrapper;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__direction {
    margin-top: 10px;
    
    p {
      margin: 0;
      padding-bottom: 5px;
    }
    
    &_accent {
      display: inline-block;
      border: 1px solid #ebb057;
      margin: 10px 0;
      padding: 10px;
      border-radius: 4px;
      background: #fff5e0;
      color: #ebb057;
      font-weight: 500;
    }

  }
}

@keyframes showModalWrapper {
  0% {
    opacity: 0;
  }

  100% {
    transition: opacity .5s;
  }
}
