@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa';
}

.v-container {
  max-width: 1100px;
}

.head {
  margin: 40px 0;

  &__title {
    font-size: 18px;
  }

  &__subtitle {
    margin: 10px 0;
    font-size: 36px;
  }
}

.context {
  max-width: 700px;

  &__additionally {
    .additionally {
      padding: 10px 0 30px 0;
      
      a {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }

  &__list, .list {
    list-style: none;
    padding: 0;
    margin: 0;

    &--second {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &__item {
      margin-bottom: 20px;
    }

    &__title {
      font-weight: bold;
      font-size: 18px;
    }

    &__description {
      line-height: 180%;
    }
  }
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .2s ease;
}
.component-fade-enter, .component-fade-leave-to {
  opacity: 0;
}