
/* colors */
$white: #fff;
$black: #000;
$gray: #5C5C5C;
$dark-blue: #0a2241;
$pink: #C52672;
$blue: #2667C0;
$green: #219653;
$yellow: #CFA62A;
$purple: #6a3bc2;
$light-blue: #71B5DB;

/* text */
$text-primary: $black;
$text-secondary: $gray;

/* background */
$background-primary: $dark-blue;

/* border-radius */
$radius: 8px;